/*MOBILE DEVICES IPHONE 667px*/
/*PAGE LAYOUT*/ 
body {
    margin: 0;
}
article {
    width: 100%;
    background-color: white; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
/*HEADER*/
header {
    width: 100%;
    height: 100px; 
    background-color: blue; 
}
/*NAV*/ 
nav {
    padding: 20px;
    line-height: 100px;
    text-align: center;
}
a {
    padding: 20px;
    font-family: 'Poppins', sans-serif, monospace; 
    font-size: 16px;
    text-decoration: none; 
    color:white; 
}
a:hover {
    font-size: 22px;
}
a:visited {
    color:white;
}
/*STYLES COLUMNS*/
article > div {
    background-color: linen; 
    width: 70%;
    height: 350px;
}
.container4 {
    border: solid 5px black;
    box-shadow: 8px 8px 10px grey;
    height: auto; 
}
/*STYLES CONTAINER CONTENT*/
div {
    margin: 20px; 
    padding: 20px;
}
h1, h2 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif, monospace;
    margin-bottom: 10px;
}
span { 
    font-size: 12px;
    font-family: 'Poppins', sans-serif, monospace;
}
img {
    width: 100%;
}
/*FOOTER*/
footer {
    background-color: lavenderblush;
    padding: 15px;
    line-height: 50px;
    text-align: center;  
    font-family: 'Poppins', sans-serif, monospace;
    font-size: 12px;
}
/*IPAD 768px*/
@media screen and (min-width: 768px) {
    /*CHANGE CONTENT SIZE*/
    article > div {
        background-color: linen; 
        width: 70%;
        height: 150px;
    }
    /*CHANGE MENU ALIGNMENT*/
    nav {
        text-align: right;
    }
    .container1 {
        margin-top:50px;
    }
}
/*IPAD 1024px*/
@media screen and (min-width: 1024px) {
    /*CHANGE PAGE LAYOUT*/
    article {
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
    }
    /*CHANGE COLUMN STYLES*/
    article > div {
        background-color: linen; 
        width: 30%;
        height: 500px;
    }
    .container4 {
        height: 500px; 
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }
    /*SAME MARGIN FOR ALL CONTAINERS*/
    .container1 {
        margin: 20px; 
    }
    /*CHANGE IMAGES IN CONTAINER*/
    .container4 img {
        max-height: 50%;
        width: auto;
    }
}
/*DESKTOP 1366px*/
@media screen and (min-width: 1366px) {
    /*CHANGE COLUMN STYLES*/
    article > div {
        background-color: linen; 
        width: 30%;
    } 
    /*CENTER IMAGES IN CONTAINER*/
    .container4 { 
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }
}
